{% extends 'layout/base.html' %}


{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{project.pk}} : {{project.title}}</h4>
                        <p class="card-text lead">{{project.description}}</p>
                        <span class="badge badge-pill badge-warning">{{project.technology}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    